::-webkit-input-placeholder {color:#c0392b; font-style: oblique; }
::-moz-placeholder          {color:#c0392b; font-style: oblique;}/* Firefox 19+ */
:-moz-placeholder           {color:#c0392b; font-style: oblique;}/* Firefox 18- */
:-ms-input-placeholder      {color:#c0392b; font-style: oblique;}

html,
body {
  height: 100%;
  margin: 10px;
}

body {
  font: 14px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  font-size: 14px;
}

form {
  width: 342px;
  border: 1px solid grey;
  border-radius: 26px;
  background-color: #dcdcdc;
}

.tasks_field {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px 10px;
  background-color: white;
  font-weight: 700;
}

.task_input {
  display: block;
  margin: 21px;
}
placeholder {
  font-style: oblique;
}

input {
  font-size: 16px;
  height: 43px;
  width: 272px;
  text-indent: 5px;
}

.pinned,
.all_tasks {
  display: block;
  margin: 11px 21px;
}

.task {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  text-indent: 5px;
  height: 43px;
  border: 1px solid grey;
  border-radius: 14px;
  margin: 0;
}

.not_found {
  font-weight: normal;
  color: blue;
}

.pinned .option_img {
  background-image: url("../img/pic-2.svg");
}

.all_tasks .option_img {
  background-image: url("../img/pic-1.svg");
}

.option_img {
  height: 33px;
  width: 33px;
  background-repeat: round;
  margin: 5px 10px;
}

.option_img:hover {
  opacity: 0.6;
  filter: invert(20%);
}

.form_hint {
  background: #d45252;
  border-radius: 3px 3px 3px 3px;
  color: white;
  margin: 2px 4px;
  padding: 3px 6px;
  z-index: 999;
  position: absolute;
}

.form_hint::before {
  content: "\25C0";
  color: #d45252;
  position: absolute;
  top: 1px;
  left: -6px;
}
